body {
  margin: 0;
  padding: 0;
  background-color: #FFC93C;
}
.start {
  background-image: url('https://images.unsplash.com/photo-1583512603805-3cc6b41f3edb?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1760&q=80');
  background-position: center;
  background-size: cover;
  background-repeat: repeat;
  height: 100vh;
  width: 100%;
  font-family: 'Roboto Mono', monospace;
}

button {
  background-color: #86E5FF;
  border: none;
  padding: 10px;
  font-family: 'Roboto Mono', monospace;
  font-size: 32px;
}

.startText {
  position: relative;
  top: 130px;
  left: 30px;
}

.btnContStart {
  position: relative;
  top: 830px;
  left: 270px;
}

.ideaCont {
  background-image: url('https://images.unsplash.com/photo-1583511666372-62fc211f8377?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1288&q=80');
  background-size: contain;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100vw;
  font-family: 'Roboto Mono', monospace;
  /* position: relative;
  left: 550px; */
}

.idea {
  background-color: rgba(91, 192, 248, 0.8);;
  width: 100%;
  height: 200px;
  position: relative;
  top: 620px;
 left: 40px;
 display: flex;
}

.btnContIdea {
  position: relative;
  top: -150px;
  left: 270px;
}

p {
  font-size: 30px;
  margin-top: 70px;
  margin-left: 40px;
  width: 500px;
}